.idea/
*.pyc
*.DS_Store
*.sqlite3
settings_local.py
settings_local.py.bak
blog_nginx.conf
logs/
migrations/
.pytest_cache/
__pycache__/
.uwsgi_plugins_builder/
uwsgi_bi_server.pid
uwsgi_bi_server_*.pid
uwsgi_bi_server.log
uwsgi_bi_server_*.log

dist/
note/
